version: '3.5'
services:
#  web:
#    build:
#      context: .
#    volumes:
#    - .:/home/webuser/app
  php-fpm:
    build:
      context: .
      dockerfile: ./docker/php-fpm/Dockerfile
    volumes:
      - .:/var/www
      - ./vendor:/var/www/vendor
    environment:
      DATABASE_HOST: database
      DATABASE_NAME: $DATABASE_NAME
      DATABASE_PASSWORD: $DATABASE_PASSWORD
      DATABASE_PORT: $DATABASE_PORT
      DATABASE_TEST_NAME: $DATABASE_TEST_NAME
      DATABASE_USER: $DATABASE_USER
      SENDGRID_API_KEY: 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
  nginx:
    build:
      context: ./docker/nginx
    volumes:
      - .:/var/www
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./docker/nginx/sites/:/etc/nginx/sites-available
      - ./docker/nginx/conf.d/:/etc/nginx/conf.d
    depends_on:
      - php-fpm
    ports:
      - "80:80"
      - "443:443"
    environment:
      DATABASE_HOST: database
      DATABASE_NAME: $DATABASE_NAME
      DATABASE_PASSWORD: $DATABASE_PASSWORD
      DATABASE_PORT: $DATABASE_PORT
      DATABASE_TEST_NAME: $DATABASE_TEST_NAME
      DATABASE_USER: $DATABASE_USER
      SENDGRID_API_KEY: $SENDGRID_API_KEY
  database:
    container_name: database
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_DATABASE: $DATABASE_NAME
      MYSQL_USER: $DATABASE_USER
      MYSQL_PASSWORD: $DATABASE_PASSWORD
      MYSQL_ROOT_PASSWORD: $DATABASE_PASSWORD
      MYSQL_PORT: $DATABASE_PORT
      MYSQL_TEST_DATABASE: $DATABASE_TEST_NAME
    ports:
      - "${DATABASE_PORT}:3306"
    expose:
      - $DATABASE_PORT
    volumes:
      - mysql-data:/var/lib/mysql
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    depends_on:
      - database
volumes:
  mysql-data:
  deps:
  build:
